
.footer {

  padding-bottom: 50px;
  &__body {
    border-top: 1px solid #D8D8D8;
    display: flex;

    @include adaptive-value("padding-top", 80, 50, 1);
    @media (max-width: 1140px) {
      margin: 0 0 20px 0;
    }
    @media (max-width: 780px) {
      flex-direction: column;
    }
  }

  &__info {
    @media (min-width: 781px) {
      flex: 0 0 249px;
    }
  }

  &__nav {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
    @media (max-width: 530px) {
      flex-direction: column;
      align-items: center;
    }
    @media (max-width: 780px) {
      @include adaptive-value("margin-top", 30, 10, 1);
      @include adaptive-value("margin-bottom", 20, 5, 1);
    }
  }

  &__submenu {

  }

  &__arrow {
    display: none;
    @media (max-width: 530px) {
      display: block;
      top: 5px;
      right: -25px;
    }
  }

  &__list {
    li {
      &:not(:last-child) {
        margin: 0 0 16px 0;
      }
    }
    @media (max-width: 530px) {
      text-align: center;
      &:not(:last-child) {
        margin: 0 0 30px 0;
      }
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #616161;
    &_b {
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      color: #000;
    }
  }

  &__contact {
    flex: 0 0 292px;
  }
}

.info-footer {
  &__lable {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    color: #000;
  }

  &__text {
    margin: 16px 0 16px 0;
  }

  &__location {
    display: block;
    background: url("../../img/icons/location.png") left no-repeat;
    padding: 0 0 0 28px;
  }

  &__phone {
    display: block;
    margin: 16px 0 16px 0;
    background: url("../../img/icons/phone.png") left no-repeat;
    padding: 0 0 0 28px;
  }

  &__link {
    display: block;
  }
}



.contact-footer {
  &__lable {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #000;
    margin: 0 0 16px 0;
  }

  &__form {
    display: flex;
    height: 45px;
  }

  &__input {
    flex: 1 1 auto;
    background: #F4F5F7;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #828282;
  }

  &__butt {
    flex: 0 0 45px;
    width: 45px;
    height: 45px;
    background: #E89F71;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      background: url("../../img/icons/telegram.svg");
      width: 24px;
      height: 24px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}